* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  background-color: rgb(242, 242, 247);
}
.blue {
  background-color: rgb(0, 122, 255);
}
.green {
  background-color: rgb(52, 199, 89);
}
.indigo {
  background-color: rgb(88, 86, 214);
}
.orange {
  background-color: rgb(255, 149, 0);
}
.pink {
  background-color: rgb(255, 45, 85);
}
.purple {
  background-color: rgb(175, 82, 222);
}
.red {
  background-color: rgb(255, 59, 48);
}
.teal {
  background-color: rgb(90, 200, 250);
}
.yellow {
  background-color: rgb(255, 204, 0);
}

/* DARKER COLOR */
.blue:hover {
  background-color: rgb(0, 64, 221);
}
.green:hover {
  background-color: rgb(36, 138, 61);
}
.indigo:hover {
  background-color: rgb(54, 52, 163);
}
.orange:hover {
  background-color: rgb(201, 52, 0);
}
.pink:hover {
  background-color: rgb(211, 15, 69);
}
.purple:hover {
  background-color: rgb(137, 68, 171);
}
.red:hover {
  background-color: rgb(215, 0, 21);
}
.teal:hover {
  background-color: rgb(0, 113, 164);
}
.yellow:hover {
  background-color: rgb(178, 80, 0);
}

.gray {
  background-color: rgb(142, 142, 147);
}
.gray2 {
  background-color: rgb(174, 174, 178);
}
.gray3 {
  background-color: rgb(199, 199, 204);
}
.gray4 {
  background-color: rgb(209, 209, 214);
}
.gray5 {
  background-color: rgb(229, 229, 234);
}
.gray6 {
  background-color: rgb(242, 242, 247);
}

/* THE COLORS BELOW FOR DARK BACKGROUD */
.blue-dm {
  background-color: rgb(10, 132, 255);
}
.green-dm {
  background-color: rgb(48, 209, 88);
}
.indigo-dm {
  background-color: rgb(94, 92, 230);
}
.orange-dm {
  background-color: rgb(255, 159, 10);
}
.pink-dm {
  background-color: rgb(255, 55, 95);
}
.purple-dm {
  background-color: rgb(191, 90, 242);
}
.red-dm {
  background-color: rgb(255, 69, 58);
}
.teal-dm {
  background-color: rgb(100, 210, 255);
}
.yellow-dm {
  background-color: rgb(255, 214, 10);
}

.blue-dm:hover {
  background-color: rgb(64, 132, 255);
}
.green-dm:hover {
  background-color: rgb(48, 219, 91);
}
.indigo-dm:hover {
  background-color: rgb(125, 122, 255);
}
.orange-dm:hover {
  background-color: rgb(255, 179, 64);
}
.pink-dm:hover {
  background-color: rgb(255, 100, 130);
}
.purple-dm:hover {
  background-color: rgb(218, 143, 255);
}
.red-dm:hover {
  background-color: rgb(255, 105, 97);
}
.teal-dm:hover {
  background-color: rgb(112, 215, 255);
}
.yellow-dm:hover {
  background-color: rgb(255, 212, 38);
}

.container {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

/* BUTTON */
.btn {
  width: 8rem;
  margin: 0.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}
.btn-sm {
  width: 4rem;
  margin: 0.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}
.btn-cancel {
  width: 8rem;
  margin: 0.25rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  color: "#333333";
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.btn-disabled {
  width: 8rem;
  margin: 0.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fefefe;
  cursor: text;
  outline: none;
}

.block {
  display: block;
}

.none {
  display: none;
}

.btn-checkout {
  padding: 0.2rem 0.5rem;
  border: solid 1px rgb(0, 122, 255);
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.btn-checkout:hover {
  background-color: rgb(0, 122, 255);
  color: #fff;
}

.modal {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.animate-zoom-close {
  animation: animateZoomClose;
  animation-duration: 0.6s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 30rem;
  border-radius: 0.5rem;
  animation: animateZoom;
  animation-duration: 0.3s;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fefefe;
  border-radius: 0.5rem 0.5rem 0 0;
}

.close {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #dddddd;
}

.modal-body {
  text-align: left;
  padding: 2rem;
  color: #333;
  line-height: 2rem;
  background-color: #fefefe;
}

.modal-actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* ANIMATION */
@keyframes animateZoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}

/* ALERT */
.alert-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0;
}
.alert-container i {
  margin-right: 0.5rem;
}
.alert-danger {
  background-color: rgba(206, 52, 52, 0.212);
  color: #ff0000;
}
.alert-success {
  background-color: rgba(76, 219, 124, 0.212);
  color: green;
}
.text-error-general {
  color: red;
  text-align: center;
}

/* TABLE */
.table-area {
  margin: 1rem;
}
.myTable {
  margin: auto;
  overflow-x: auto;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
}
.table-col-duration {
  text-align: center;
}
.table-col-credit {
  text-align: right;
}
table {
  border-spacing: 0;
  width: 100%;
  margin: auto;
  font-family: sans-serif;
}
thead tr {
  background-color: #dddddd;
  width: 100%;
  text-align: center;
}
th {
  border-bottom: 2px solid rgb(255, 149, 0);
  width: 200px;
}
tbody td {
  text-align: center;
}
th,
td {
  padding: 0.5rem;
}
.confirmed {
  text-align: center;
}
.fa-check {
  color: rgb(52, 199, 89);
}
.fa-remove {
  color: rgb(255, 59, 48);
}

/* FORM */
.form-container {
  margin: auto;
  width: 30rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px rgb(192, 189, 189);
}

.form-checkin {
  margin-top: 1rem;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  border-radius: 50%;
  color: rgb(0, 122, 255);
}

.form-wrapper {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: relative;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.form-extra-action {
  width: 30rem;
  margin: auto;
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: #818181;
}
.form-extra-action a {
  color: rgb(0, 122, 255);
}

.input-text {
  width: 100%;
  background-color: transparent;
  height: inherit;
  outline: none;
  border: none;
  color: #333333;
  font-size: 1rem;
  padding: 0 1rem;
  border: 1px solid rgba(0, 122, 255, 0.28);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.input-text::placeholder {
  color: rgb(180, 180, 180);
}
.input-text:focus {
  border: 1px solid rgba(0, 122, 255, 0.28);
  outline: none;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}
.icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  background-color: transparent;
}
.form-search {
  width: 300px;
  height: 50px;
  background-color: transparent;
  position: relative;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.input-search {
  justify-self: center;
  width: 100%;
  text-align: center;
  background-color: #fff;
  height: inherit;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
  border: 1px solid rgba(0, 122, 255, 0.28);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.input-search::placeholder {
  color: rgb(180, 180, 180);
}
.text-error {
  font-size: small;
  color: red;
  margin-top: -10px;
  padding: 0 0.5rem;
}
.text-success {
  color: rgb(22, 133, 49);
  font-size: small;
}
.form-notification {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-extra-action {
  width: 30rem;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.form-extra-action a {
  display: flex;
  justify-content: center;
  color: rgb(0, 122, 255);
}

/* NAVBAR */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
.navbar {
  z-index: 5;
  background-color: #333333;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  margin-bottom: 1rem;
}
.navbar-container {
  /* border: 1px solid yellow; */
  padding: 0 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navbar-container .nav-title {
  display: flex;
  color: #eeeeee;
}

.nav-title h1 {
  font-size: medium;
}

.nav-title .logo {
  padding-left: 1rem;
}
.navbar-container .nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.navbar-container .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item a {
  color: #fefefe;
  font-size: 1rem;
  margin: 0 1rem;
}
.nav-item a:hover {
  color: rgb(0, 122, 255);
}
.collapse {
  display: none;
}
.sidenav {
  padding-top: 15px;
}
.sidenav a {
  font-size: 18px;
}
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav-hide {
  width: 0;
}
.sidenav-show {
  width: 250px;
}
.sidenav a {
  padding: 18px 8px 18px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #333;
  background-color: #eeeeee;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media (max-width: 800px) {
  .navbar ul li {
    display: flex;
    height: inherit;
    align-items: center;
    width: 30%;
  }
}
@media (max-width: 760px) {
  .navbar .nav-list,
  .nav-search {
    display: none;
  }
  .navbar .responsive {
    position: relative;
  }
  .collapse {
    display: block;
    color: #eeeeee;
    position: relative;
    cursor: pointer;
  }
  .collapse .icon-burger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 560px) {
  .navbar .nav-search {
    display: none;
  }
  .navbar .navbar-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
